.topHeader{
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
.notispan{
  margin-top: -6px;
  margin-right: -6px;
}

.antd-pro-components-global-header-index-right {
  display: flex;
  float: right;
  margin-left: auto;
  overflow: hidden;
}
.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-action {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all .3s;
}
.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-search {
  padding: 0 12px;
}
.ant-pro-global-header {
  display: flex;
  height: 100%;
}